/* Rectangle 1: */
border: 1px solid #979797;

/* heart 3: */
background: #B9B2D9;

/* Rectangle 2: */
border: 1px solid #E8E2EC;

font-family: AppleGothic;
font-size: 125px;
color: #B9B2D9;
line-height: 152px;
/* ROSS: */

font-family: AppleGothic;
font-size: 56px;
color: #C7C7C7;
line-height: 68px;
letter-spacing: 0px;
/* levyland estates car: */

font-family: AppleGothic;
font-size: 100px;
color: #B9B2D9;
line-height: 121px;
/* ASH &: */

font-family: AppleGothic;
font-size: 76px;
color: #333333;
line-height: 93px;
/* august 22: */

font-family: AppleGothic;
font-size: 144px;
color: #333333;
line-height: 175px;
/* 2015: */

/* Line 2: */
border: 1px solid #C7C7C7;

/* Line 4: */
border: 1px solid #C7C7C7;

/* Oval 2: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 2: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 2: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 3: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 4: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 5: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Oval 7: */
background: #C7C7C7;

/* Oval 6: */
background: #C7C7C7;

/* Line 5: */
border: 1px solid #C7C7C7;

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* ashley is a designer: */

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* ashley wasn't keen o: */

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* after a year of dati: */

font-family: AppleGothic;
font-size: 20px;
color: #B9B2D9;
line-height: 24px;
/* 2010: san diego: */

/* Mask: */

/* Bitmap: */

font-family: AppleGothic;
font-size: 20px;
color: #B9B2D9;
line-height: 24px;
/* 2011: berkeley: */

/* Rectangle 63: */

-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);

-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
background: #D8D8D8;

/* Rectangle 64: */

-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);

-webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-ms-transform: rotate(90deg);
-o-transform: rotate(90deg);
transform: rotate(90deg);
background: #D8D8D8;

/* Line: */
border: 1px solid #333333;

/* Oval 1: */
background: #BBB4CC;

/* Line 3: */
border: 1px solid #333333;

/* Oval 2: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 7: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 7: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 7: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 7: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 2: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 7: */
background: #B9B2D9;

/* Oval 3: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 7: */
background: #B9B2D9;

/* Oval 4: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 7: */
background: #B9B2D9;

/* Oval 5: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

/* Oval 7: */
background: #B9B2D9;

/* Oval 6: */
background: #B9B2D9;

font-family: AppleGothic;
font-size: 36px;
color: #333333;
line-height: 44px;
letter-spacing: 0px;
/* map      stay       regis: */

/* Line: */
border: 1px solid #333333;

/* Line 3: */
border: 1px solid #333333;

/* Oval 1: */
background: #BBB4CC;

/* Line: */
border: 1px solid #333333;

/* Oval 1: */
background: #BBB4CC;

/* Line: */
border: 1px solid #333333;

/* Line 3: */
border: 1px solid #333333;

/* Oval 1: */
background: #BBB4CC;

/* Rectangle 4: */
background: #333333;
border: 1px solid #E8E2EC;

font-family: AbadiMT-CondensedExtraBold;
font-size: 20px;
color: #7ED321;
line-height: 23px;
/* >hello: */

/* Rectangle 61: */
background: #D8D8D8;

/* Rectangle 62: */
background: #D8D8D8;

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* ross is an engineer.: */

/* Line 5: */
border: 1px solid #333333;

/* Line 4: */
border: 1px solid #333333;

/* Oval 2: */
background: #BBB4CC;

/* Mask: */

/* Bitmap: */

/* Rectangle 80: */
background: #B9B2D9;

/* Rectangle 2: */
border: 3px solid #E8E2EC;

/* Rectangle 2: */
border: 3px solid #E8E2EC;

/* Rectangle 3: */
background: #D1C5D9;

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* they moved to san fr: */

font-family: AppleGothic;
font-size: 20px;
color: #BBB4CC;
line-height: 24px;
/* 2012: san francisco: */

/* Line: */
border: 1px solid #333333;

/* Oval 1: */
background: #BBB4CC;

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* taking many trips to: */

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* we're so excited to : */

font-family: AppleGothic;
font-size: 20px;
color: #B9B2D9;
line-height: 24px;
/* 2013: adventures abr: */

/* Line: */
border: 1px solid #333333;

/* Oval 1: */
background: #BBB4CC;

/* Rectangle 2: */
background: #64AFCA;
border: 3px solid #E8E2EC;

/* Mask: */

/* rossash: */

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* ross and ash walk to: */

font-family: AppleGothic;
font-size: 20px;
color: #B9B2D9;
line-height: 24px;
/* 2014: a pop of color: */

/* Line: */
border: 1px solid #333333;

/* Oval 1: */
background: #B9B2D9;

font-family: AppleGothic;
font-size: 20px;
color: #B9B2D9;
line-height: 24px;
/* 2015: let the party : */

/* Line: */
border: 1px solid #333333;

/* Oval 1: */
background: #B9B2D9;

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* levyland estates: */

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* location: */

font-family: AppleGothic;
font-size: 20px;
color: #B9B2D9;
line-height: 30px;
/* beach terrace inn: */

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* where to stay: */

font-family: JosefinSans-Bold;
font-size: 36px;
color: #FEC000;
line-height: 43px;
/* h: */

font-family: JosefinSans-Bold;
font-size: 36px;
color: #FEC000;
line-height: 43px;
/* i: */

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* if you'd like to gif: */

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* registry: */

font-family: AppleGothic;
font-size: 20px;
color: #333333;
line-height: 24px;
/* we love you!: */

/* Rectangle 2: */
background: #333333;
border: 3px solid #E8E2EC;

/* diamond: */
background: #B9B2D9;

/* Oval 357: */
border: 3px solid #C7C7C7;

/* Path 122: */
background: #D1C5D9;

/* home: */
background: #F49F99;

/* heart: */
background: #F49F99;

/* heart 2: */
background: #F49F99;

/* Path 123: */
border: 3px solid #F49F99;
